@model maqadmin.Models.bingoJuego

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>bingoJuego</legend>

    <div class="display-label">idlocal</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idlocal)
    </div>

    <div class="display-label">inicioJuego</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.inicioJuego)
    </div>

    <div class="display-label">finjuego</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.finjuego)
    </div>

    <div class="display-label">ultimonumero</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ultimonumero)
    </div>

    <div class="display-label">premio</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.premio)
    </div>

    <div class="display-label">esperaNumeroSeg</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.esperaNumeroSeg)
    </div>

    <div class="display-label">B1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.B1)
    </div>

    <div class="display-label">B2</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.B2)
    </div>

    <div class="display-label">B3</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.B3)
    </div>

    <div class="display-label">B4</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.B4)
    </div>

    <div class="display-label">B5</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.B5)
    </div>

    <div class="display-label">B6</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.B6)
    </div>

    <div class="display-label">B7</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.B7)
    </div>

    <div class="display-label">B8</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.B8)
    </div>

    <div class="display-label">B9</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.B9)
    </div>

    <div class="display-label">B10</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.B10)
    </div>

    <div class="display-label">B11</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.B11)
    </div>

    <div class="display-label">B12</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.B12)
    </div>

    <div class="display-label">B13</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.B13)
    </div>

    <div class="display-label">B14</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.B14)
    </div>

    <div class="display-label">B15</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.B15)
    </div>

    <div class="display-label">I16</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.I16)
    </div>

    <div class="display-label">I17</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.I17)
    </div>

    <div class="display-label">I18</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.I18)
    </div>

    <div class="display-label">I19</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.I19)
    </div>

    <div class="display-label">I20</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.I20)
    </div>

    <div class="display-label">I21</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.I21)
    </div>

    <div class="display-label">I22</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.I22)
    </div>

    <div class="display-label">I23</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.I23)
    </div>

    <div class="display-label">I24</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.I24)
    </div>

    <div class="display-label">I25</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.I25)
    </div>

    <div class="display-label">I26</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.I26)
    </div>

    <div class="display-label">I27</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.I27)
    </div>

    <div class="display-label">I28</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.I28)
    </div>

    <div class="display-label">I29</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.I29)
    </div>

    <div class="display-label">I30</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.I30)
    </div>

    <div class="display-label">N31</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.N31)
    </div>

    <div class="display-label">N32</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.N32)
    </div>

    <div class="display-label">N33</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.N33)
    </div>

    <div class="display-label">N34</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.N34)
    </div>

    <div class="display-label">N35</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.N35)
    </div>

    <div class="display-label">N36</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.N36)
    </div>

    <div class="display-label">N37</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.N37)
    </div>

    <div class="display-label">N38</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.N38)
    </div>

    <div class="display-label">N39</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.N39)
    </div>

    <div class="display-label">N40</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.N40)
    </div>

    <div class="display-label">N41</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.N41)
    </div>

    <div class="display-label">N42</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.N42)
    </div>

    <div class="display-label">N43</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.N43)
    </div>

    <div class="display-label">N44</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.N44)
    </div>

    <div class="display-label">N45</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.N45)
    </div>

    <div class="display-label">G46</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.G46)
    </div>

    <div class="display-label">G47</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.G47)
    </div>

    <div class="display-label">G48</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.G48)
    </div>

    <div class="display-label">G49</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.G49)
    </div>

    <div class="display-label">G50</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.G50)
    </div>

    <div class="display-label">G51</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.G51)
    </div>

    <div class="display-label">G52</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.G52)
    </div>

    <div class="display-label">G53</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.G53)
    </div>

    <div class="display-label">G54</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.G54)
    </div>

    <div class="display-label">G55</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.G55)
    </div>

    <div class="display-label">G56</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.G56)
    </div>

    <div class="display-label">G57</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.G57)
    </div>

    <div class="display-label">G58</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.G58)
    </div>

    <div class="display-label">G59</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.G59)
    </div>

    <div class="display-label">G60</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.G60)
    </div>

    <div class="display-label">O61</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.O61)
    </div>

    <div class="display-label">O62</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.O62)
    </div>

    <div class="display-label">O63</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.O63)
    </div>

    <div class="display-label">O64</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.O64)
    </div>

    <div class="display-label">O65</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.O65)
    </div>

    <div class="display-label">O66</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.O66)
    </div>

    <div class="display-label">O67</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.O67)
    </div>

    <div class="display-label">O68</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.O68)
    </div>

    <div class="display-label">O69</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.O69)
    </div>

    <div class="display-label">O70</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.O70)
    </div>

    <div class="display-label">O71</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.O71)
    </div>

    <div class="display-label">O72</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.O72)
    </div>

    <div class="display-label">O73</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.O73)
    </div>

    <div class="display-label">O74</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.O74)
    </div>

    <div class="display-label">O75</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.O75)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.idbingo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
