@model IEnumerable<maqadmin.Models.bingoJuego>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de juegos de bingo</h2>

@*<p>
    @Html.ActionLink("Crear nuevo juego de bingo", "Create")
</p>*@
<table>
    <tr>
        <th>
            Local
        </th>
        <th>
            Inicio juego
        </th>
        <th>
            Fin juego
        </th>
        <th>
            Número actual
        </th>
        <th>
            Premio
        </th>
       @* <th>
            Delay entre números
        </th>*@
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idlocal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.inicioJuego)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.finjuego)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ultimonumero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.premio)
        </td>
       @* <td>
            @Html.DisplayFor(modelItem => item.esperaNumeroSeg)
        </td>*@
        
        <td>
            @Html.ActionLink("Reiniciar juego y dejar pausado", "Limpiar", new { id=item.idbingo })
            @*@Html.ActionLink("Editar", "Edit", new { id=item.idbingo })*@ |
            @*@Html.ActionLink("Ver", "Details", new { id=item.idbingo })*@ |
            @*@Html.ActionLink("Eliminar", "Delete", new { id=item.idbingo })*@
            
        </td>
    </tr>
}

</table>
