@model IEnumerable<maqadmin.Models.bingoJuego>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            idlocal
        </th>
        <th>
            inicioJuego
        </th>
        <th>
            finjuego
        </th>
        <th>
            ultimonumero
        </th>
        <th>
            premio
        </th>
        <th>
            esperaNumeroSeg
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idlocal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.inicioJuego)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.finjuego)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ultimonumero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.premio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.esperaNumeroSeg)
        </td>
        
        <td>
            @Html.ActionLink("Limpiar Juego", "Limpiar", new { id=item.idbingo })
            @Html.ActionLink("Edit", "Edit", new { id=item.idbingo }) |
            @Html.ActionLink("Details", "Details", new { id=item.idbingo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idbingo })
            
        </td>
    </tr>
}

</table>
