@model IEnumerable<maqadmin.Models.bingoJuego>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            idlocal
        </th>
        <th>
            inicioJuego
        </th>
        <th>
            finjuego
        </th>
        <th>
            ultimonumero
        </th>
        <th>
            premio
        </th>
        <th>
            esperaNumeroSeg
        </th>
        <th>
            B1
        </th>
        <th>
            B2
        </th>
        <th>
            B3
        </th>
        <th>
            B4
        </th>
        <th>
            B5
        </th>
        <th>
            B6
        </th>
        <th>
            B7
        </th>
        <th>
            B8
        </th>
        <th>
            B9
        </th>
        <th>
            B10
        </th>
        <th>
            B11
        </th>
        <th>
            B12
        </th>
        <th>
            B13
        </th>
        <th>
            B14
        </th>
        <th>
            B15
        </th>
        <th>
            I16
        </th>
        <th>
            I17
        </th>
        <th>
            I18
        </th>
        <th>
            I19
        </th>
        <th>
            I20
        </th>
        <th>
            I21
        </th>
        <th>
            I22
        </th>
        <th>
            I23
        </th>
        <th>
            I24
        </th>
        <th>
            I25
        </th>
        <th>
            I26
        </th>
        <th>
            I27
        </th>
        <th>
            I28
        </th>
        <th>
            I29
        </th>
        <th>
            I30
        </th>
        <th>
            N31
        </th>
        <th>
            N32
        </th>
        <th>
            N33
        </th>
        <th>
            N34
        </th>
        <th>
            N35
        </th>
        <th>
            N36
        </th>
        <th>
            N37
        </th>
        <th>
            N38
        </th>
        <th>
            N39
        </th>
        <th>
            N40
        </th>
        <th>
            N41
        </th>
        <th>
            N42
        </th>
        <th>
            N43
        </th>
        <th>
            N44
        </th>
        <th>
            N45
        </th>
        <th>
            G46
        </th>
        <th>
            G47
        </th>
        <th>
            G48
        </th>
        <th>
            G49
        </th>
        <th>
            G50
        </th>
        <th>
            G51
        </th>
        <th>
            G52
        </th>
        <th>
            G53
        </th>
        <th>
            G54
        </th>
        <th>
            G55
        </th>
        <th>
            G56
        </th>
        <th>
            G57
        </th>
        <th>
            G58
        </th>
        <th>
            G59
        </th>
        <th>
            G60
        </th>
        <th>
            O61
        </th>
        <th>
            O62
        </th>
        <th>
            O63
        </th>
        <th>
            O64
        </th>
        <th>
            O65
        </th>
        <th>
            O66
        </th>
        <th>
            O67
        </th>
        <th>
            O68
        </th>
        <th>
            O69
        </th>
        <th>
            O70
        </th>
        <th>
            O71
        </th>
        <th>
            O72
        </th>
        <th>
            O73
        </th>
        <th>
            O74
        </th>
        <th>
            O75
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idlocal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.inicioJuego)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.finjuego)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ultimonumero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.premio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.esperaNumeroSeg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.B1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.B2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.B3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.B4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.B5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.B6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.B7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.B8)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.B9)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.B10)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.B11)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.B12)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.B13)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.B14)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.B15)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.I16)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.I17)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.I18)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.I19)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.I20)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.I21)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.I22)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.I23)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.I24)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.I25)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.I26)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.I27)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.I28)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.I29)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.I30)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.N31)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.N32)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.N33)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.N34)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.N35)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.N36)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.N37)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.N38)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.N39)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.N40)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.N41)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.N42)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.N43)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.N44)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.N45)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.G46)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.G47)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.G48)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.G49)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.G50)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.G51)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.G52)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.G53)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.G54)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.G55)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.G56)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.G57)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.G58)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.G59)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.G60)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.O61)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.O62)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.O63)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.O64)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.O65)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.O66)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.O67)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.O68)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.O69)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.O70)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.O71)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.O72)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.O73)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.O74)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.O75)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idbingo }) |
            @Html.ActionLink("Details", "Details", new { id=item.idbingo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idbingo })
        </td>
    </tr>
}

</table>
