@model maqadmin.Models.carton

@{
    ViewBag.Title = "Details";
}


<fieldset>
    <legend>Detalles del cartón</legend>

    <div class="display-label">Local</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idlocal)
    </div>

    <div class="display-label">n1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.n1)
    </div>

    <div class="display-label">n2</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.n2)
    </div>

    <div class="display-label">n3</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.n3)
    </div>

    <div class="display-label">n4</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.n4)
    </div>

    <div class="display-label">n5</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.n5)
    </div>

    <div class="display-label">n6</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.n6)
    </div>

    <div class="display-label">n7</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.n7)
    </div>

    <div class="display-label">n8</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.n8)
    </div>

    <div class="display-label">n9</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.n9)
    </div>

    <div class="display-label">n10</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.n10)
    </div>

    <div class="display-label">n11</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.n11)
    </div>

    <div class="display-label">n12</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.n12)
    </div>

    <div class="display-label">n13</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.n13)
    </div>

    <div class="display-label">n14</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.n14)
    </div>

    <div class="display-label">n15</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.n15)
    </div>

    <div class="display-label">n16</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.n16)
    </div>

    <div class="display-label">n17</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.n17)
    </div>

    <div class="display-label">n18</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.n18)
    </div>

    <div class="display-label">n19</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.n19)
    </div>

    <div class="display-label">n20</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.n20)
    </div>

    <div class="display-label">n21</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.n21)
    </div>

    <div class="display-label">n22</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.n22)
    </div>

    <div class="display-label">n23</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.n23)
    </div>

    <div class="display-label">n24</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.n24)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Volver", "Index")
</p>
