<!DOCTYPE html>
<html>
<head>
    <link  href="@Url.Content("~/Content/marq.css")" rel="stylesheet" type="text/css"/>
    <script src="@Url.Content("~//Scripts/jquery-1.6.4.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.signalR-1.1.4.js")"></script>
    <script src="/signalr/hubs"></script>
    <style type="text/css">
        html
        {
             background: url(@Url.Content("~/Content/imagenes/bannerimage.jpg")) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>


</head>
<body>
    <div id="divcontenido" align="center" style="width: 100%;height: 100%;">
        <img src= "@Url.Content("~/Content/imagenes/ajax-loader.gif")" alt="Image" />
    </div>
    <script type="text/javascript">
        $(function () {
            // Declare a proxy to reference the hub. 
            var chat = $.connection.signal;

            // Create a function that the hub can call to broadcast messages.
            chat.client.broadcastMessage = function (vistahtml) {
                $('#divcontenido').html(vistahtml);
            };

            // Start the connection.
            $.connection.hub.start().done(function () {
                $('#sendmessage').click(function () {
                    // Call the Send method on the hub. 
                    chat.server.send('');

                });
            });
        });
    </script>
    @RenderBody()
</body>
</html>
