@model maqadmin.Models.bingoParametro

@{
    ViewBag.Title = "Nuevo local";
}

<h2>Crear nuevo local</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Nuevo Local</legend>

        <div class="editor-label">
           Local
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idLocal)
            @Html.ValidationMessageFor(model => model.idLocal)
        </div>

       <input id="idEstadoJuego" name="idEstadoJuego" type="hidden" value="2"/>
       <input id="videoActivo" name="videoActivo" type="hidden" value="0"/>
       <input id="juegoAutomatico" name="juegoAutomatico" type="hidden" value="0"/>
       <input id="juegoAutomaticoCadaSeg" name="juegoAutomaticoCadaSeg" type="hidden" value="0"/>
        <input id="visualizar" name="visualizar" type="hidden" value="bingo"/>

       

       
      
        <div class="editor-label">
           Espera entre números
        </div>
        <div class="editor-field">
           <input class="text-box single-line" data-val="true" data-val-number="El campo esperaNumeroSeg debe ser un n&amp;#250;mero." data-val-required="El campo esperaNumeroSeg es obligatorio." id="esperaNumeroSeg" name="esperaNumeroSeg" type="text" value="15">
        </div>

        <div class="editor-label">
           Premio
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.premioDefecto)
            @Html.ValidationMessageFor(model => model.premioDefecto)
        </div>        

        <div class="editor-label">
           Url del video
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.urlVideo)
            @Html.ValidationMessageFor(model => model.urlVideo)
        </div>

        @* <div class="editor-label">
           Url download cliente
        </div>
        <div class="editor-field">
        <input class="text-box single-line" id="urlVideo" name="urlVideo" type="text" value="" size="100">
              @Html.ValidationMessageFor(model => model.urlDownload)
        </div>*@

        <div class="editor-label">
            Mensaje abajo del video
        </div>
        <div class="editor-field">
                  <input class="text-box single-line" id="MensajeVideo" name="MensajeVideo" type="text" value=""  width="500px">
            @Html.ValidationMessageFor(model => model.MensajeVideo)
        </div>

        <p>
            <input type="submit" value="Crear" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Volver", "Index")
</div>
