@model maqadmin.Models.bingoParametro

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>bingoParametro</legend>

    <div class="display-label">idLocal</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idLocal)
    </div>

    <div class="display-label">estadoJuego</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.estadoJuego.nombre)
    </div>

    <div class="display-label">videoActivo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.videoActivo)
    </div>

    <div class="display-label">esperaNumeroSeg</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.esperaNumeroSeg)
    </div>

    <div class="display-label">premioDefecto</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.premioDefecto)
    </div>

    <div class="display-label">juegoAutomatico</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.juegoAutomatico)
    </div>

    <div class="display-label">juegoAutomaticoCadaSeg</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.juegoAutomaticoCadaSeg)
    </div>

    <div class="display-label">urlVideo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.urlVideo)
    </div>

    <div class="display-label">MensajeVideo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MensajeVideo)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
