@model maqadmin.Models.bingoParametro

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>bingoParametro</legend>

    <div class="display-label">idLocal</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idLocal)
    </div>

    <div class="display-label">estadoJuego</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.estadoJuego.nombre)
    </div>

    <div class="display-label">videoActivo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.videoActivo)
    </div>

    <div class="display-label">esperaNumeroSeg</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.esperaNumeroSeg)
    </div>

    <div class="display-label">premioDefecto</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.premioDefecto)
    </div>

    <div class="display-label">juegoAutomatico</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.juegoAutomatico)
    </div>

    <div class="display-label">juegoAutomaticoCadaSeg</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.juegoAutomaticoCadaSeg)
    </div>

    <div class="display-label">urlVideo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.urlVideo)
    </div>

    <div class="display-label">MensajeVideo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MensajeVideo)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.idParametro }) |
    @Html.ActionLink("Back to List", "Index")
</p>
