@model IEnumerable<maqadmin.Models.bingoParametro>
@{
    ViewBag.Title = "Index";
}
@*  @Html.ActionLink("Nuevo Local", "Create")*@
<p>
    <a class="btn btn-primary btn-small" href="/bingoParametro/Create">Nuevo Local</a>
</p>
<table class="table table-striped table-bordered">
<thead class="thead-inverse">
    <tr>
        <th>
            Local
        </th>
        <th>
            Estado Juego
        </th>
        <th>
            Premio
        </th>
        <th>
            Bingo
        </th>
        <th>
            Visualizar
        </th>
        <th>
            Conectar a pantallas
        </th>
    </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idLocal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estadoJuego.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.premioDefecto)
            </td>
            <td>
                @Html.ActionLink("Nuevo Juego", "Limpiar", new { id = item.idLocal }, new { @class = "btn btn-primary btn-small" })
                
                @if (item.idEstadoJuego != 3)
                {

                    if (item.idEstadoJuego == 4)
                    {
                        
                    @Html.ActionLink("Continuar", "ActivarJuego", new { id = item.idLocal }, new { @class = "btn btn-primary btn-small" })
                     
                    }
                    else
                    {
                        
                    @Html.ActionLink("Iniciar", "ActivarJuego", new { id = item.idLocal }, new { @class = "btn btn-primary btn-small" }) 
                    
                    }


                }
                
                @if (item.idEstadoJuego != 4)
                {
                    
                    @Html.ActionLink("Pausar", "Pausar", new { id = item.idLocal }, new { @class = "btn btn-primary btn-small" })

                }
                
                @if (item.idEstadoJuego != 1)
                {
                    
                    @Html.ActionLink("Finalizar", "FinalizarJuego", new { id = item.idLocal }, new { @class = "btn btn-primary btn-small" })

                }
            </td>
            <td>
                @if (item.idEstadoJuego != 2)
                {
                    
                    @Html.ActionLink("Video", "Video", new { id = item.idLocal }, new { @class = "btn btn-primary btn-small" })

                }
                else
                {
                    
                    @Html.ActionLink("Bingo", "Pausar", new { id = item.idLocal }, new { @class = "btn btn-primary btn-small" })
                    
                }
            </td>
            <td>
                @Html.ActionLink("Detener Refrescar", "DetenerTimer", new { id = item.idLocal }, new { @class = "btn btn-primary btn-small" })

                @Html.ActionLink("Activar Refrescar", "ActivarTimer", new { id = item.idLocal }, new { @class = "btn btn-primary btn-small" })
                @* <a class="btn btn-primary btn-mini" type="button" href="/bingoParametro/Limpiar/1">Nuevo Juego</a>*@
            </td>
        </tr>
    }
</table>
